* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
ol,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
    vertical-align: top;
}
button {
    all: unset;
    cursor: pointer;
}
body {
    font-size: 1.6rem;
    font-family: 'pretendard', sans-serif;
    line-height: 1.6;
    color: var(--color-gray900);
}