:root {
    --canvas-width: 1920px;
    --canvas-height: 850px;
    --color-yellow: #ffff00;
    --color-gray900: #010102;
    --color-gray700: #4a4740;
    --color-gray500: #ababad;
    --color-gray300: #ebebee;
    --color-gray200: #f1f1f4;
    --color-gray100: #fafafc;
}

:root {
    --font-display1: 600 6rem/1.2 'Pretendard', sans-serif; /*96*/
    --font-display2: 400 4rem/1.2 'Pretendard', sans-serif; /*64*/
    --font-heading1: 600 3.2rem/1.4 'Pretendard', sans-serif; /*52*/
    --font-heading2: 600 2.5rem/1.4 'Pretendard', sans-serif; /*40*/
    
    --font-body-normal: 1rem/1.4 'Pretendard', sans-serif; /*16*/
    --font-body-small: 0.8rem/1.4 'Pretendard', sans-serif; /*14*/
    --font-body-medium: 1.5rem/1.4 'Pretendard', sans-serif; /*24*/
    --font-body-large: 1.62rem/1.4 'Pretendard', sans-serif; /*26*/
    --font-body-ex: 2rem/1.4 'Pretendard', sans-serif; /*32*/
}